@use '../../constants/CssUtils/color.scss';

.btn {
    color: color.$colorPrimary;
    border-color: color.$colorPrimary;
    transition: color 200ms, background-color 200ms, box-shadow 200ms;
}

.btn:hover {
    box-shadow: 0px 0px 20px 2px color.$colorPrimary;
}