@use '../../constants/CssUtils/color.scss' as c;

.rightContainer > div {
    margin-left: 20px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 250ms;
}

.rightContainer > div:hover {
    border-bottom: 2px solid c.$colorPrimary;
}

// .rightContainer > div:active {
//     color: c.$colorPrimary;
// }

.mainContainer {
    z-index: 1;
    transition: box-shadow 300ms;
}

.mainContainer:hover {
    box-shadow: 1px 1px 80px 1px rgba(c.$colorPrimary, 0.4);
}