.subMainContainer > form > div {
    margin: 16px 0 16px 0;
}

.subMainContainer > form > div > input, .subMainContainer > form > div > textarea {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
}