.mainContainer {
    // height: ;
}

.moreBtnExpanded {
    width: 0;
    height: 0;
    border-top: 24px solid #f0f0f0;
    border-bottom: 8px solid transparent;
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
}

.moreBtnMinimized {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 24px solid #f0f0f0;
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
}

.moreBtnExpanded:hover {
    border-top: 24px solid #959595;
}

.moreBtnMinimized:hover {
    border-bottom: 24px solid #959595;
}